{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "standard/no-callback-literal": 0,
    "camelcase": 0
  },
  "env": {
    "node": true,
    "jest": true
  },
  "globals": {
  }
}
